---
import { getCollection, render } from "astro:content";
import Layout from "#layout";

export async function getStaticPaths() {
  const blogEntries = await getCollection("posts");
  return blogEntries.map((entry) => ({
    params: { slug: entry.id },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await render(entry);
const { title, description } = entry.data;
---

<Layout {title} {description}>
  <article
    class="px-6 pt-8 pb-64 prose lg:prose-lg lg:max-w-3xl dark:prose-invert mx-auto"
  >
    <h1>{title}</h1>
    <Content />
  </article>
</Layout>
